.menu {
  visibility: hidden;
}

.menu-wrap {
  width: 50px;
  height: 50px;

  z-index: 1;
}
.toggler {
  position: absolute;
  top: 44.33px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 37.2px;
  height: 11.6px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 44.33px;
  right: 0;
  z-index: 1;
  width: 37.2px;
  height: 11.6px;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: absolute;
  top: 10px;
  right: 0;
  width: 37.2px;
  height: 2px;
  background-color: rgba(211, 177, 80, .4);
  transition: all 0.5s;
}

.menu-wrap .hamburger > div::before {
  transition: all 0.5s;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -11px;
  right: 0;
  width: 27px;
  height: 2px;
  background-color: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  visibility: hidden;
}

/* Toggler Animation */
.toggler:checked + .menu-wrap .hamburger > div {
  transform: rotate(45deg);
}

/* Turns Lines Into X */
.toggler:checked + .menu-wrap .hamburger > div::before {
  width: 37.2px;
  top: 0px;
  transform: rotate(-90deg);
}

.menu-wrap .menu > div > div > ul > li > a {
  text-decoration: none;
  transition: color 0.4s ease;
}
.main-menu {
  position: absolute;
  top: 99px;
  left: 1px;
  width: 270px;
  height: 352px;
  font-size: 35px;
  font-family: "Cormorant Garamond";
  transform: translateX(-200px);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.main-menu ul {
  list-style: none;
}

.main-menu ul li {
  margin-bottom: 23px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #d3b150;
}

.right-symbols {
  position: absolute;
  top: 186px;
  right: 0;
  width: 20px;
  height: 180px;
  text-align: center;
  transform: translateX(50px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.right-symbols .symbol {
  margin-bottom: 35px;
  color: #d3b150;
}

.location {
  position: absolute;
  top: 550.86px;
  left: 0;
  width: 127px;
  height: 16px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
}

.toggler:checked + div + main {
  visibility: hidden;
}
.toggler:checked + div > .menu {
  visibility: visible;
}
.toggler:checked + div > .menu .main-menu {
  transform: translateX(0);
  opacity: 1;
}

.toggler:checked + div > .menu .right-symbols {
  transform: translateX(0);
  opacity: 1;
}

.toggler:checked + div + main .company {
  transform: translateY(31px);
  visibility: visible;
}

.toggler:checked + div + main .location {
  transition: all 1s ease;
  visibility: visible;
  opacity: 1;
}

.toggler:checked + div + main .team {
  opacity: 0;
  transform: translateY(31px);
}

.toggler:checked + div + main .services,
.toggler:checked + div + main .hero {
  transform: translateY(-20px);
  opacity: 0;
}
