@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://db.onlinewebfonts.com/c/5ef8a424b69b83d12929ade2aae274d7?family=Avenir+Next+Ultra+Light");
/* Avenir Next Ultra Light */

@font-face {
  font-family: "Aveni Next Demi Bold";
  src: url("../fonts/AvenirNext-DemiBold.ttf");
}

@font-face {
  font-family: "Aveni Next Regular";
  src: url("../fonts/AvenirNext-Regular.ttf");
}

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* make it look decent enough */
  background-color: rgba(253, 253, 253);
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.outer {
  height: 667px;
  width: 375px;
  position: relative;
}

.inner {
  overflow: hidden;
  margin: 0 auto;
  height: 667px;
  width: 296px;
  position: relative;
}

.outer-bg-big,
.inner-bg-big {
  display: none;
}

.outer-bg-small {
  position: absolute;
  opacity: 0.9;
}

.inner-bg-small {
  position: absolute;
}

.menu-text,
.menu-text-after {
  display: none;
}

.recent-work,
.recent-work-after {
  display: none;
}

.logo {
  position: absolute;
  top: 25px;
  left: 27px;
  width: 64px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.services {
  position: absolute;
  width: 260px;
  height: 34px;
  top: 155px;
  left: 3px;
  font-size: 10px;
  font-family: "Aveni Next Demi Bold";
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.service {
  position: relative;
  height: 14px;
  letter-spacing: 1px;
  display: inline-block;
}

.service-1,
.service-2,
.service-3 {
  display: inline-block;
  transition: all 0.5s;
  visibility: visible;
}

.service-1 {
  width: 63px;
}

.service-2 {
  width: 48px;
}

.service-3 {
  width: 76px;
}

.service-1-after,
.service-2-after,
.service-3-after {
  display: inline-block;
  color: rgba(211, 177, 80, 1);
  position: absolute;
  top: 10px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s;
}

.service1:hover .service-1,
.service2:hover .service-2,
.service3:hover .service-3 {
  transform: translateY(-15px);
  opacity: 0;
}

.service1:hover .service-1-after,
.service2:hover .service-2-after,
.service3:hover .service-3-after {
  transform: translateY(-10px);
  opacity: 1;
}

.dot {
  margin: 0 11px;
  font-size: 20px;
  position: relative;
  top: -2px;
}

.hero {
  position: absolute;
  top: 173px;
  left: 0;
  padding-top: 15px;
  width: 298px;
  height: 237px;
  font-size: 50px;
  text-align: left;
  font-family: "Cormorant Garamond";
  color: #d3b150;
  transition: all 0.3s ease-in-out;
}

.wht-can-we-do {
  display: none;
}

.line {
  display: none;
}

.left-symbols {
  display: none;
}

.company {
  position: absolute;
  top: 460px;
  left: 0;
  width: 260px;
  height: 47px;
  font-size: 18px;
  font-family: "Aveni Next Demi Bold";
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  letter-spacing: 1.44px;
  transition: transform 0.3s ease-out;
}

.team {
  position: absolute;
  top: 522px;
  left: 0;
  width: 286.05px;
  height: 85.16px;
  font-size: 16px;
  font-family: "Aveni Next Regular";
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.32px;
  transition: all 0.35s ease-in-out;
}

/* 1024 WIDTH */

@media only screen and (min-width: 1024px) {
  .outer {
    height: 680px;
    width: 1024px;
    position: relative;
  }

  .inner {
    overflow: visible;
    margin: auto;
    height: 680px;
    width: 824px;
    position: relative;
  }

  .outer-bg-small,
  .inner-bg-small {
    display: none;
  }

  .outer-bg-big,
  .inner-bg-big {
    position: absolute;
    display: inline-block;
  }

  .logo {
    position: absolute;
    top: 25px;
    left: 130px;
    width: 76px;
    height: 60px;
    transition: all 0.3s ease-in-out;
  }

  .recent-work {
    display: block;
    position: absolute;
    top: 47.52px;
    right: 41.56px;
    font-size: 16px;
    font-family: "Aveni Next Regular";
    color: #af8610;
    text-align: right;
    width: 102px;
    height: 22px;
    letter-spacing: 1.4px;
  }

  .real-work,
  .recent-work-after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .recent-work-after {
    top: 10px;
    opacity: 0;
  }

  .recent-work:hover > .real-work {
    transform: translateY(-10px);
    opacity: 0;
  }
  .recent-work:hover > .recent-work-after {
    transform: translateY(-10px);
    opacity: 1;
  }
  .services {
    width: 290px;
    height: 16px;
    top: 145px;
    left: 109px;
    font-size: 12px;
  }

  .hero {
    top: 166.64px;
    left: 109px;
    padding-top: 15px;
    width: 390px;
    height: 237px;
    font-size: 50px;
    text-align: left;
    color: #d3b150;
  }

  .hero .thrive {
    display: inline-block;
  }

  .company {
    top: 498.14px;
    left: 516px;
    width: 370px;
    height: 35.49px;
    font-size: 16px;
    letter-spacing: 1.4px;
  }

  .company .dev-consul {
    display: inline-block;
  }

  .team {
    top: 533.63px;
    left: 516px;
    width: 290.05px;
    height: 77.16px;
  }

  .wht-can-we-do {
    display: inline-block;
    position: absolute;
    top: 500px;
    left: 44.45px;
    width: 250px;
    height: 22px;
    font: 16px;
    font-family: "Aveni Next Regular";
    text-align: left;
    letter-spacing: 1.6px;
    color: #b08610;
  }

  .real-wht-can,
  .after-wht-can {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .after-wht-can {
    top: 10px;
    opacity: 0;
  }

  .wht-can-we-do:hover > .real-wht-can {
    transform: translateY(-10px);
    opacity: 0;
  }
  .wht-can-we-do:hover > .after-wht-can {
    transform: translateY(-10px);
    opacity: 1;
  }

  .line {
    display: inline-block;
    position: absolute;
    top: 502.08px;
    left: 308px;
    background-color: #d3b150;
    width: 1px;
    height: 177.92px;
  }

  .left-symbols {
    display: inline-block;
    position: absolute;
    top: 182px;
    left: 45.77px;
    width: 15px;
    height: 162px;
  }

  .left-symbol {
    position: relative;
    font-size: 14px;
    color: #b08610;
    font-family: Aveni Next Regular;
    margin-bottom: 22px;
    transition: all 0.3s;
  }

  .left-symbol-after {
    position: absolute;
    top: 10px;
    left: 0;
    display: none;
    opacity: 0;
  }

  .left-symbol1 .left-symbol-1,
  .left-symbol2 .left-symbol-2,
  .left-symbol3 .left-symbol-3,
  .left-symbol3 .left-symbol-3 {
    transform: translateY(-10px);
    opacity: 0;
  }

  .left-symbol:hover + .left-symbol-after {
    display: inline-block;
    transform: translateY(-10px);
    opacity: 1;
  }
}
